/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

h1 {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* gameboard */
.game-container {
  text-align: center;
}

.cell-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: 225px;
  margin: auto;
}

.cell {
  width: 120px;
  height: 120px;
  border: solid 2px;
  font-size: 75px;
  cursor: crosshair;
  line-height: 115px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  font-size: 28px; /* Increased font size */
  padding: 20px 40px; /* Increased padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px; /* Increased border radius */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

#button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slightly increase size on hover */
}